PORT=3000
NODE_ENV=development
ORIGIN=*

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3336
MYSQL_DATABASE=healthmonitoring
MYSQL_USERNAME=root
MYSQL_ROOT_PASSWORD=mysqlpass

TYPEORM_CONNECTION=mysql
TYPEORM_HOST=127.0.0.1
TYPEORM_USERNAME=root
TYPEORM_PASSWORD=mysqlpass
TYPEORM_DATABASE=healthmonitoring
TYPEORM_PORT=3336
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=dist/**/*entity.js
TYPEORM_MIGRATIONS=dist/migrations/*.js
TYPEORM_MIGRATIONS_DIR=src/migrations
TYPEORM_MIGRATIONS_RUN=false
TYPEORM_MIGRATIONS_TABLE_NAME=migrations

JWT_SECRET=secret
JWT_ACCESS_EXPIRE=500000
JWT_REFRESH_EXPIRE=5000000

REDIS_URL=redis://localhost:6379
